<form class="form-horizontal">    
    <div class="modal-body">                        
        <div class="row form-group">
            <label class="form-label col-xs-12">Użytkownik</label>
            <div class="col-xs-12">
                {{order.user}}
            </div>
        </div>
        <div class="row form-group">
            <label class="form-label col-xs-12">Pojazd</label>
            <div class="col-xs-12">
                {{order.vehicle}}
            </div>
        </div>
        <div class="row form-group">
            <label class="form-label col-xs-12">Zakres usług</label>
            <div class="col-xs-12">
                <ul>
                    <li ng-repeat="service in order.services">{{service.service}}</li>
                </ul>
            </div>
        </div>
        <div class="row form-group">
            <label class="form-label col-xs-12">Przewidywany czas naprawy</label>
            <div class="col-xs-12">
                {{order.duration}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 text-right">                                          
                <button class="btn btn-default" ng-click="no()">Zamknij</button>                                           
            </div>
        </div>
    </div>
</form>