<form class="form-horizontal">
    <div class="modal-header">
        <h3>Zarządzanie zamówieniami</h3>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-8">
                <h4 class="form-label col-xs-12">Twoje zamówienia</h4>
            </div>
            <div class="col-md-4">
                <h4 class="form-label col-xs-12">Aktualny status</h4>
            </div>
        </div>
        <div class="row form-group" ng-repeat="order in userOrders">
            <div class="col-md-8" style="border-right: solid  rgba(30, 144, 255, 1) 2px">
                <div class="col-xs-8" style="display: inline-block">{{order.title}}</div>
                <div class="col-xs-4" style="display: inline-block">
                    <button class="small-btn" ng-click="deleteOrder(order, $index)"><i class="fas fa-times"></i></button>
                    <button class="small-btn" ng-click="editOrder(order)"><i class="fas fa-edit"></i></button>
                </div>                
            </div>
            <div class="col-md-4">
                <div>{{orderStatus(order)}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-12 text-right">                                     
                <button class="btn" ng-click="no()">Zamknij</button>                           
            </div>
        </div>
    </div>
</form>