<form class="form-horizontal">
    <div class="modal-header">
        <h3>Zarządzanie użytkownikiem</h3>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <label class="form-label col-xs-6">Nazwa użytkownika</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="user.username">
            </div>
        </div>
        <div class="row form-group">
            <label class="form-label col-xs-6">Hasło</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="user.password">
            </div>
        </div>
        <div class="row form-group">
            <label class="form-label col-xs-6">Powtorz Hasło</label>
            <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="repeatedPassword">
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-12 text-right">
            <button class="btn confirm-btn" ng-disabled="(user.username === null) || (user.password !== repeatedPassword)" ng-click="yes()">Utwórz użytkownika</button>                            
            <button class="btn" ng-click="no()">Zamknij</button>                           
        </div>
      </div>
    </div>
</form>