<div class="container-fluid">
    <div class="row form-group">
        <div class="col-xs-12 col-md-8 col-md-offset-2 bg-primary client-page-preface" >            
            <h4>
                Szanowny kliencie. W tym miejscu możesz zarządzać swoją flotą pojazdów, dokonywać zamawiania usług, oraz śledzić ich przebieg. 
                Wybierz jedna z poniższych opcji aby zacząć korzystać z portalu. Pozdrawiamy zespół SNIKUWS.
            </h4>           
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-8 col-md-offset-2" style="padding: 0px">            
            <div class="col-xs-12 col-md-6" ng-click="openVehicleCardModal()" style="padding-left: 0px; padding-right: 5px"> 
                <div class="user-opt-btn">
                    <i class="fas fa-car" style="width: 75%; height: 75%; color: white; padding-top: 10px"></i>
                    <p>Dodaj nową kartę pojazdu</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-click="openVehicleRegisterModal()" style="padding-left: 5px; padding-right: 0px">
                <div class="user-opt-btn">
                    <i class="fas fa-clipboard-list" style="width: 75%; height: 75%; color: white; padding-top: 10px"></i>
                    <p>Ewidencja pojazdów</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-click="openOrderingServiceModal()" style="padding-left: 0px; padding-right: 5px">    
                <div class="user-opt-btn">
                    <i class="fas fa-tools" style="width: 75%; height: 75%; color: white; padding-top: 10px"></i>
                    <p>Zamawianie usług</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-click="openServiceManagementModal()" style="padding-left: 5px; padding-right: 0px">    
                <div class="user-opt-btn">
                    <i class="fas fa-cogs" style="width: 75%; height: 75%; color: white; padding-top: 10px"></i>
                    <p>Zarządzanie zamówieniami</p>
                </div>
            </div>            
        </div>
    </div>
</div>





