<div class="container-fluid">        
    <div class="row form-group" style="margin-top: 50px">
        <div class="col-xs-12 col-md-8 col-md-offset-2" style="padding: 0px">            
            <div class="col-xs-12 col-md-6" ng-click="openDictionaryEditingModal()" style="padding-left: 0px; padding-right: 5px"> 
                <div class="user-opt-btn">
                    <i class="fas fa-book-medical" style="width: 75%; height: 75%; color: white; padding-top: 10px"></i>
                    <p>Edycja, uzupełnianie usług</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-click="openOrdersPreviewModal()" style="padding-left: 5px; padding-right: 0px">
                <div class="user-opt-btn">
                    <i class="fas fa-list" style="width: 75%; height: 75%; color: white; padding-top: 10px"></i>
                    <p>Podgląd zamówień</p>
                </div>
            </div>                       
        </div>
    </div>
</div>
    
    
    
    
    
    